#new-pool {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("https://res.cloudinary.com/rahulsuvarna18/image/upload/v1565325364/beautiful_swimming_pools_a9bmzw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
