<div class="footer-container">
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/NicolasTou"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/rahulsuvarna18/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/nicolas.toulemonde"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/KylieJenner"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/nicolas-toulemonde-8210b6139/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p><%= "What are you waiting for #{current_user.first_name} #{current_user.last_name}, book yoor pool now!!" %></p>
  </div>
</div>
</div>
