<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/NicolasTou"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/rahul.suvarna/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/nicolas.toulemonde"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/rahul_suv"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/nicolas-toulemonde-8210b6139/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
